* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #FFFFFF;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: auto;
    height: 70px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: inherit;
    width: 200px;
    background-image: url('/images/cover2.jpg');
    background-size: 100% 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.navbar div {
    letter-spacing: 1.5px;
    font-size: small;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 5px 0px;
    height: inherit;
    width: auto;
    padding: 0px 12px 0 12px
}

.navbar div:hover {
    color: #d78213
}

.home {
    height: 1000px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.home .home-img {
    background-image: url('/images/home-img.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.home .intro {
    background-color: #F1E2D7;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.home .intro-main {
    padding-top: 15px;
    font-size: 45px;
    letter-spacing: 1px;
    opacity: 0.8
}

.home .intro p {
    padding-top: 20px;
    padding-bottom: 50px;
    opacity: .6;
}

.home .intro-button {
    background-color: inherit;
    border: 3px solid black;
    font-weight: bold;
    letter-spacing: 1px;
    width: 170px;
    height: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.home .intro-button:hover {
    background-color: #E8AE60;
    border: none
}

.home .intro-button:focus {
    background-color: black;
    color: white;
    border: none
}


.about {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 360px 360px;
}


.about .detail-about {
    grid-column: 1 / 3;
}

.about .about-img {
    background-image: url('/images/about-img.jpg');
    background-size: 100% 120%;
    background-repeat: no-repeat;
    /* object-fit: cover;
    object-position: 50% 50%; */
    /*width: inherit;
    object-fit: cover;
    object-position: 20% 10%; */
}

.experience {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 370px 420px;
}

.experience .experience-img {
    background-image: url('/images/experience-img.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.experience .experience-img2 {
    background-image: url('/images/education-img.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* .experience div {
    border: 1px solid yellow;
} */

.testimonial {
    /* border: 1px solid rgb(76, 15, 109); */
    width: 100%;
    height: 500px;
}

.contact {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 600px;
}

.contact .detail-contact {
    background-color: #E9724C;
    grid-column: 1 / 3;
}

/* .contact div {
    border: 1px solid rgb(148, 17, 120);
} */

.contact .contact-img {
    background-image: url('/images/contact-img.jpg');
    background-size: 100% 125%;
    background-repeat: no-repeat;
}

footer {
    width: 100%;
    height: 420px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}